#primero{
    width: 90%;
    height: 100px;
    padding: 20px;
    margin: 30px;
    
    
    
}

article{
    border: 1px solid black;
    text-align: center;
    width: 250px;
    height: 250px;
    float: left;
    margin: 50px;
}