ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

.logo{
    width: 60px;
    height: 60px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.target {
    border: 1px solid #000;
    padding: 5px;
    margin: 0 0 70px 70px;
}

.animal-name {
    height: auto;
}

.animal-name span{
    font-size: 20px;
}

